<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>

<body>
    <div class class="container mt-2">
        <h1 class="text-center">My Profile</h1>
        {% load crispy_forms_tags %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ y|crispy }}
            <div>
                <button class="btn btn-primary mt-2 mb-3">Submit</button>
                <a class="btn btn-danger mt-2 mb-3" href="{% url 'college_dashboard' %}">Cancel</a>
            </div>
        </form>
    </div>
</body>

</html>